
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

.text-editor {
  margin-bottom: 20px;
}

.header {
  background-color: #5cb569;
  padding: 10px 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}


.header nav ul li a {
  color: white;
  padding: 5px 90px;

}

.header nav ul li a:hover {
  background-color: #c5c0c0;
  border-radius: 10px;
}

.item-list {
  
  flex-direction: column;
  
}

.item {
  padding: 10px;
  border: 1px solid hsl(0, 49%, 46%);
  border-radius: 5px;
  

}

.item p {
  margin: 0;
}

.item img {
  max-width: 50%;
  height: 50%;
}

button {
  padding: 10px 20px;
  background-color: #ffa600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:5px;
  
}

button:hover {
  background-color: #847f7f;
}


.liked {
  color: red; 
}

.bookmarked {
  color: red; 
}


.profile-details {
  padding: 20px;
  border: 1px solid #2b2929;
  border-radius: 10px;
  width: 300px;
  margin: 30px auto;
  background-color: #f9f9f9;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btn{
  
  padding: 10px;
  background-color: #b7aeae;
   gap: 0rem;
   display: flex;
   margin-left: 102%;
}

